* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);
  font-size: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(-30deg, #f11008, #ff0000, #023bf5, #0019fd);
  background-size: 500% 500%;
  animation: cor 10s ease infinite;
}

@keyframes cor {
  50% {
    background-position: 100%, 50%;
  }
  100% {
    background-position: 0%, 100%;
  }
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/Background.jpg) no-repeat center/cover;
  width: 100vw;
  height: 100vh;
  min-height: 812px;
}

.container {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--grey);
}

.container ul a:hover {
  font-size: 1.5rem;
  top: 4px;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.016rem rgb(255, 0, 0);
  transition: all 0.2s ease-out;
}

.container a:hover {
  font-size: 1.5rem;
  top: 5px;
  border-radius: 1.8rem;
  color: #0019fd;
  box-shadow: 0 0.1rem 0 0.1rem rgb(4, 0, 255);
  transition: all 0.2s ease-out;
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 11.5rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 1rem;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1.3rem;
  justify-content: center;
}

li a {
  transition: 0.5s;
  display: inline-block;
}

li a:hover {
  transform: translateY(-10px);
}

@media (min-width: 720px) {
  main {
    background: url(images/Desktop.png) no-repeat center/cover;
    min-height: 700px;
  }

  .container {
    margin-top: 14.5rem;
  }

  ul {
    margin-top: 5rem;
  }
}

@media (min-width: 860px) {
  main {
    background: url(images/Desktop.png) no-repeat center/cover;
    min-height: 840px;
  }

  ul {
    margin-top: 3rem;
  }
}
